---
layout: default
---
{{ content }}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/lib/codemirror.css">
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/lib/codemirror.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/mode/ruby/ruby.js"></script>

<script src="https://cdn.jsdelivr.net/npm/opal-runtime@1.0.14/src/opal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/opal-compiler@2.3.0/src/opal-builder.js"></script>

<script src="{{ '/assets/js/activity_runner.js' | prepend: site.baseurl }}"></script>
